#siteContainer {
	display: flex;
	justify-content: space-evenly;
}

#dmColumn, #friendColumn {
	background: white;
	height: 100vh;
	width: 50vw;
}

#dmColumn {

}

#dmList {

}

#ownProfile {

}

#friendColumn {

}

#addFriendButton {

}

#friendList {

}
