@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

:root {
  --text-color: #eee6f3;
  --background-color: #0e0812;
  --primary-color: #d394ff;
  --secondary-color: #3a134e;
  --accent-color: #ff84bb;

  --monospace-font: "Share Tech Mono", monospace;
  --cursive-font: "Grape Nuts", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  background: var(--background-color);
  font-family: var(--monospace-font);
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}