:root {
	--global-padding: 0.5rem;

	--dm-width: 30vw;
	--dm-list-height: 80vh;
	--own-profile-height: 20vh;

	--friend-width: 70vw;
	--friend-button-height: 10vh;
	--friend-list-height: 90vh;
	--friend-button-width: 10vw;
}

#siteContainer {
	display: flex;
	justify-content: space-evenly;
}

#dmColumn, #friendColumn {
	height: 100vh;
}

.globalStyle {
	padding: var(--global-padding);
	margin: var(--global-padding);
	background: var(--background-color);
	border-radius: var(--border-radius);
	border: var(--global-padding) solid var(--secondary-color);
}

#dmColumn {
	width: var(--dm-width);
}

#dmList {
	margin-right: 0;
	height: calc(var(--dm-list-height) - var(--global-padding) * 3);
}

#ownProfile {
	margin-right: 0;
	height: var(--own-profile-height);
}

#friendColumn {
	width: var(--friend-width);
}

#addFriendContainer {
	height: var(--friend-button-height);
	display: flex;
	justify-content: space-evenly;
}

#addFriendForm {
	margin: 0;
}

#addFriendButton {
	margin: 0;
}

#addFriendText {
	width: calc(var(--friend-width) - var(--friend-button-width) - 
		var(--form-spacing) * 4 - var(--form-padding) * 2.1
	);
}

#friendList {
	height: calc(var(--friend-list-height) - var(--global-padding) * 3);
}
