:root {
	--global-padding: 0.5rem;

	--dm-width: 400px;
	--dm-list-height: 85vh;
	--own-profile-height: 15vh;

	--friend-width: calc(100vw - 400px);
	--friend-button-height: 10vh;
	--friend-list-height: 83vh;
	--friend-button-width: 10vw;

	--name-height: 3rem;
	--profile-item-margin: 1rem;
	--profile-item-height: calc(var(--own-profile-height) - var(--profile-item-margin) * 2);

	--filter-friends-width: 10%;
}

#siteContainer {
	display: flex;
	justify-content: space-evenly;
}

#dmColumn, #friendColumn {
	height: 100vh;
}

.globalStyle {
	padding: var(--global-padding);
	margin: var(--global-padding);
	background: var(--background-color);
	border-radius: var(--border-radius);
	border: var(--global-padding) solid var(--secondary-color);
}

#dmColumn {
	width: var(--dm-width);
}

#dmList {
	margin-right: 0;
	height: calc(var(--dm-list-height) - var(--global-padding) * 3);
}

#menuSelectorContainer {
	position: relative;
	top: 88%;
	display: flex;
	justify-content: space-evenly;
}

.menuSelectorButton {
	width: 40%;
	text-align: center;
	line-height: 200%;
}

#ownProfile {
	margin-right: 0;
	height: var(--own-profile-height);
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

#peefpContainer {
	margin: auto 0 auto 0;
	height: 90%;
	aspect-ratio: 1/1;
	border-radius: 50%;
	overflow: hidden;
}

#peefpName {
	position: relative;
	padding: 0.75rem;
	top: calc(50% - var(--name-height) / 2);
	height: var(--name-height);
	border-radius: var(--border-radius);
}

#logoutButton {
	line-height: calc(var(--own-profile-height) - var(--form-spacing) * 2 - var(--form-padding) * 2 - var(--border-radius));
}

#logoutButton input {
	position: relative;
	top: calc(var(--form-padding) / 4);
	background-color: rgba(0, 0, 0, 0);
	z-index: 1;
	cursor: pointer;
}

.icon-input-btn {
    position: relative;
    width: var(--input-height);
}

i {
	pointer-events: none;
}

.icon-input-btn .fa-solid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-40%) translateX(-60%);
    font-size: 1.5rem;
}

#friendColumn {
	width: var(--friend-width);
}

#addFriendContainer {
	height: calc(var(--friend-button-height) * 1.45);
	display: flex;
	justify-content: space-between;
}

#addFriendForm {
	margin: 0;
	width: 100%;
}

#addFriendButton {
	margin: 0;
}

#addFriendText {
	width: inherit;
}

#friendList, #profileEditor {
	height: var(--friend-list-height);
}

#filterFriends {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.filterForm {
	display: flex;
	justify-content: center;
	width: calc(var(--filter-friends-width) - 1rem);
	padding: 0 40px 0 40px;
	margin: var(--form-spacing) var(--form-spacing) var(--form-spacing) 0;
	border-radius: var(--border-radius);
	border: var(--border-semi-important);
}
 
.filterFormInput {
	border: none;
	height: inherit;
	width: initial;
}

#profileForm input {
	color: gray;
	font-weight: 400;
	width: 30%;
}

#profileForm {
	display: flex;
	flex-direction: column;
}

#ownImage {
	height: 100%;
	width: 100%;
	object-fit: cover;
}